body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4em;
}

#myBox {
  background-color: green;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#myButton{
  font-size: 3rem;
}
