body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherForm {
  margin: 20px;
}

.cityInput {
  padding: 10px;
  font-size: 2rem;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}

button[type="submit"]:hover {
  background-color: grey;
}

.card {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  padding: 50px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

.cityDisplay,
.tempDisplay {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.humidityDisplay {
  font-weight: bold;
  margin-bottom: 25px;
}

.descDisplay {
  font-style: italic;
  font-weight: bold;
}

.weatherEmoji {
  margin: 0;
  font-size: 6rem;
}

.errorDisplay{
  font-weight: bold;
  color: red;
}