body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock{
  font-family: monospace;
  font-size: 4em;
  text-align: center;
}