body {
  margin: 0;
  font-family: monospace;
  font-size: 2em;
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#display {
  height: 4rem;
  width: 20rem;
  border-radius: 15px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

button {
  background-color: black;
  color: whitesmoke;
  font-size: 3.5rem;
  border-radius: 3rem;
  border-color: black;
  width: 3.5rem;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: rgba(104, 91, 91, 0.667);
  border: none;
}

.operator {
  background-color: rgb(222, 132, 14);
  border: none;
}
